extends ../layouts/default.pug

block main 
  .section-10 
    img(src="/admin/assets/images/404.jpg")
    h2.inner-title Trang này không tồn tại...
    a(href=`/${pathAdmin}/dashboard` class="inner-back") Trở về trang tổng quan  