.inner-change-status
  .inner-item 
    select(name="")
      option(value="") -- Hành động -- 
      option(value="") Hoạt động   
      option(value="") Tạm dừng
      option(value="") Xóa
  .inner-item 
    button Áp dụng
.inner-search 
  <i class="fa-solid fa-magnifying-glass"></i>
  input(type="text" placeholder="Tìm kiếm")