.pagination 
  span.inner-label Hiển thị 1 - 9 của 78
  select(name="" class="inner-pagination")
    option(value="") Trang 1  
    option(value="") Trang 2  
    option(value="") Trang 3  
    option(value="") Trang 4  