nav.sider 
  ul.inner-menu 
    li 
      a(href="index.html" class="active") <i class="fa-solid fa-gauge-high"></i> Tổng quan
    li
      a(href="category-list.html") <i class="fa-solid fa-table"></i> Quản lý danh mục
    li
      a(href="tour-list.html") <i class="fa-solid fa-table-list"></i> Quản lý tour
    li
      a(href="order-list.html") <i class="fa-solid fa-list-check"></i> Quản lý đơn hàng
    li
      a(href="user-list.html") <i class="fa-solid fa-user"></i> Quản lý người dùng
    li
      a(href="contact-list.html") <i class="fa-solid fa-user-group"></i> Thông tin liên hệ
  hr
  ul.inner-menu 
    li
      a(href="setting-list.html") <i class="fa-solid fa-gear"></i> Cài đặt chung
    li
      a(href="profile-edit.html") <i class="fa-solid fa-user-gear"></i> Thông tin cá nhân
    li
      a(href="#" class="inner-logout") <i class="fa-solid fa-power-off"></i> Đăng xuất  
.sider-overlay